body {
  background-color: #011F3F;
}
@media (min-width: 200px) and (max-width: 600px) {
  body{
    text-align: center;
  }
  
}

#level-title {
  font-family: 'Creepster', cursive;
  letter-spacing: 4px;
  font-size: 2.2rem;
  margin:  3%;
  color: #FEF2BF;
}
.box{
  position: absolute;
  left: 11%;
  top: 18%;
}
@media (min-width: 200px) and (max-width: 600px) {
  .box{
    position: relative;
    top: 136px;
  }
  
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  
  width: fit-content;
  flex-wrap: wrap;
}

div#game-rule.container{
  position: relative;
  left: 10%;
  width: 43%;
  color: #787878;
  font-family: 'Arima Madurai', cursive;
}
@media (min-width: 200px) and (max-width: 500px) {
  div#game-rule.container{
    width: 80%;
  }
  
}
div#game-rule.container p {
  position: relative;
  bottom: 36px;
  font-family: 'Montserrat', sans-serif;

}
.row{
  display: flex;
  flex-direction: column;
}
@media (min-width: 200px) and (max-width: 500px) {
  .row{
    flex-direction: row;
  }
  
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}
@media (min-width: 200px) and (max-width: 500px) {
  .btn{
    height: 100px;
    width: 100px;
  }
  
}

.btn2{
  position: relative; 
  bottom: 32px;
  padding: 9px;
  font-size: 15px;
  background: none;
  border: 2px solid gray;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 3px 2px 0px 1px #95c2c3;
  font-weight: bolder;
  color: beige;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
